@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Padauk:wght@400;700&family=Raleway:wght@300;400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* fonts - family, size */
/* heading font */
/* body (based) font */
/* Display font */

/* color */
/* primary */
/* secondary */
/* accent */
/* status */

/* Global Setting */

:root {
  --primary: #0081a7;
  --secondary: #8b8c89;
  --danger: #f72585;
  --dark: black;

  --body-font : "Raleway", "Padauk", sans-serif;
  --body-font-size : 14px;

  --heading-font :  "Montserrat", sans-serif;
  /* --heading-font-size :  */
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--heading-font);
}


.mb-sm{
  margin-bottom: 10px;
}

.mb{
  margin-bottom: 20px;
}

.p-sm{
  padding: 10px;
}
.p{
  padding: 20px;
}

.text-left{
  text-align: left;
}


.text-center{
  text-align: center;
}


.text-right{
  text-align: right;
}



body {
}

section {
}

.title {
  font-size: 50px;
}

.sub-title {
  font-size: 25px;
}

.box {
  border: 3px solid #000000;
  border-radius: 10px;
}

.btn {
  height: 40px;
  line-height: 40px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.5s;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: var(--primary);

  border: 2px solid var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);

  border: 2px solid var(--secondary);
}

.btn-danger {
  background-color: var(--danger);

  border: 2px solid var(--danger);
}

.btn-dark {
  background-color: #000000;

  border: 2px solid #000000;
}

.btn-outline-primary {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn-outline-primary:hover {
  background-color: #482ff7;
  color: white;
}

.btn-outline-secondary {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.btn-outline-danger {
  background-color: transparent;
  color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-outline-dark {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
}

.btn-icon {
  padding: 0;
  aspect-ratio: 1;
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: 40.4px;
}


.table{
  width: 100%;
  /* border: 1px solid black; */
  border-collapse:collapse;
}

thead{
  background-color: black;
  color: white;
  text-align: left;
}

th,td{
  /* border: 1px solid black; */
  padding: 10px 20px;
  vertical-align: top;
}

tr{
  transition: background-color 0.5s;
}

tr:hover{
  background-color: rgb(194, 194, 194) !important;
}

tbody tr:nth-child(even){
  background-color: rgb(230, 230, 230);
}

.list{
  /* border: 1px solid black; */
  list-style: none;
  /* padding: 10px; */
}

.list-item{
  border-left: 5px solid black;
  background-color: rgb(224, 224, 224);
  padding: 10px 20px;
  margin-bottom: 10px;
  /* border-radius: 5px; */
  display: inline-block;
  transition: 0.5s;
  margin-right: 10px;
}

.list-item.active, .list-item:hover{
  /* background-color: black; */
  /* color: white; */
  border-left: 10px solid black;
  font-weight: bold;
  background-color: rgb(214, 214, 214);

}

@media screen and (max-width:550px) {
  .list-item {
    display: block;
    margin-right: 0;
  }
}



